.login {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  form {
    position: relative;
    z-index: 1;
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

    p {
      text-align: center;
      padding: 0 1rem;
      display: inline-block;

      &.header {
        font-weight: 600;
        font-size: 1.25rem;
        margin-top: .5rem;
      }
    }

    h1 {
      position: relative;
      width: 50%;
      padding: 1.5rem;
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: #CCC;
      }
    }

    button {
      background: #044336;
      color: #FFF;
      font-size: 16px;
      cursor: pointer;
      border: none;
      transition: background .3s;
      margin: 1rem auto;
      width: 90%;
      padding: 1rem;

      &:hover,
      &:focus {
        background: #033026;
        outline: none;
      }
    }

    input {
      border: none;
      border-bottom: 1px solid #CCC;
      background: none;
      color: #044336;
      padding: 1rem;
      font-size: 16px;
      border-radius: 0;

      &:first-of-type {
        border-top: 1px solid #CCC;
        margin-top: 2rem;
      }

      &:focus {
        outline: none;
        background: #F5F5F5;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:hover {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: #044336;
        font-size: 16px;
      }
    }
  }

  &-legal {
    display: flex;
    margin-top: 1rem;

    a {
      color: #FFF;
      text-decoration: underline;
      margin-left: .5rem;
      font-size: .75rem;
    }
  }

  &-logo {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100px;
    z-index: 0;

    img {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .login {
    form {
      button {
        width: fit-content;
        padding: 1rem 4rem;
      }
    }

    &-logo {
      max-width: 200px;
    }
  }
}